<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>30</integer>
		<key>GSOffsetHorizontal</key>
		<string>-50</string>
		<key>GSOffsetProportional</key>
		<integer>1</integer>
		<key>GSOffsetVertical</key>
		<integer>0</integer>
		<key>angle</key>
		<integer>0</integer>
		<key>height</key>
		<integer>60</integer>
		<key>noodleThickness</key>
		<integer>60</integer>
		<key>width</key>
		<integer>60</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>6FCB32A1-0753-4A39-8CEB-958F1AE728AC</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<integer>0</integer>
	<key>com.schriftgestaltung.weightValue</key>
	<real>400</real>
	<key>com.schriftgestaltung.widthValue</key>
	<real>5</real>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>bar</string>
		<string>asciitilde</string>
		<string>trademark</string>
		<string>copyright</string>
		<string>registered</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>NULL</string>
		<string>CR</string>
		<string>Nukta</string>
		<string>uni0950</string>
		<string>Udatta</string>
		<string>Anudatta</string>
		<string>KaHalanth</string>
		<string>DEVANAGARI_DANDA</string>
		<string>DEVANAGARI_DOUBLE_DANDA</string>
		<string>Arasunna</string>
		<string>Anusvara</string>
		<string>Visarga</string>
		<string>uni0C05</string>
		<string>AA</string>
		<string>uni0C07</string>
		<string>II</string>
		<string>uni0C09</string>
		<string>UU</string>
		<string>Ru</string>
		<string>Lu</string>
		<string>uni0C0E</string>
		<string>EE</string>
		<string>AI</string>
		<string>uni0C12</string>
		<string>OO</string>
		<string>AU</string>
		<string>Ka</string>
		<string>Kha</string>
		<string>Ga</string>
		<string>Gha</string>
		<string>uni0C19</string>
		<string>Ca</string>
		<string>Cha</string>
		<string>Ja</string>
		<string>Jha</string>
		<string>Nya</string>
		<string>Lla</string>
		<string>TTha</string>
		<string>DDa</string>
		<string>DDha</string>
		<string>uni0C23</string>
		<string>Ta</string>
		<string>Tha</string>
		<string>Da</string>
		<string>Dha</string>
		<string>Na</string>
		<string>Pa</string>
		<string>Pha</string>
		<string>Ba</string>
		<string>Bha</string>
		<string>Ma</string>
		<string>Ya</string>
		<string>Ra</string>
		<string>RRa</string>
		<string>La</string>
		<string>LLa</string>
		<string>uni0C34</string>
		<string>Va</string>
		<string>Sha</string>
		<string>SSa</string>
		<string>Sa</string>
		<string>Ha</string>
		<string>Avagraha</string>
		<string>AAMatra</string>
		<string>Imatra</string>
		<string>IIMatra</string>
		<string>UMatra</string>
		<string>UUMatra</string>
		<string>RMatra</string>
		<string>RRMatra</string>
		<string>uni0C46</string>
		<string>EEMatra</string>
		<string>AIMatra</string>
		<string>OMatra</string>
		<string>OOMatra</string>
		<string>AuMatra</string>
		<string>Halanth</string>
		<string>uni0C55</string>
		<string>tvam</string>
		<string>CaNukta</string>
		<string>JaNukta</string>
		<string>RRu</string>
		<string>LLu</string>
		<string>uni0C62</string>
		<string>uni0C63</string>
		<string>Telugu0</string>
		<string>Telugu1</string>
		<string>Telugu2</string>
		<string>Telugu3</string>
		<string>Telugu4</string>
		<string>Telugu5</string>
		<string>Telugu6</string>
		<string>Telugu7</string>
		<string>Telugu8</string>
		<string>Telugu9</string>
		<string>uni0C78</string>
		<string>uni0C79</string>
		<string>uni0C7A</string>
		<string>uni0C7B</string>
		<string>uni0C7C</string>
		<string>uni0C7D</string>
		<string>uni0C7E</string>
		<string>uni0C7F</string>
		<string>KshNnaAI</string>
		<string>afii301</string>
		<string>uni20B9</string>
		<string>arrowleft</string>
		<string>arrowup</string>
		<string>arrowright</string>
		<string>arrowdown</string>
		<string>Ksha</string>
		<string>Kaottu</string>
		<string>KhaOttu</string>
		<string>GaOttu</string>
		<string>GhaOttu</string>
		<string>NgaOttu</string>
		<string>CaOttu</string>
		<string>ChaOttu</string>
		<string>JaOttu</string>
		<string>JhaOttu</string>
		<string>NyaOttu</string>
		<string>TTaOttu</string>
		<string>TTHaOttu</string>
		<string>DDaOttu</string>
		<string>DDhaOttu</string>
		<string>NNaOttu</string>
		<string>TaOttu</string>
		<string>ThaOttu</string>
		<string>DaOttu</string>
		<string>DhaOttu</string>
		<string>NaOttu</string>
		<string>PaOttu</string>
		<string>PhaOttu</string>
		<string>BaOttu</string>
		<string>BhaOttu</string>
		<string>MaOttu</string>
		<string>YaOttu</string>
		<string>RaOttuWide2</string>
		<string>RaOttuMiddle</string>
		<string>RaOttuRight</string>
		<string>RRaOttu</string>
		<string>LaOttu</string>
		<string>LLaOttu</string>
		<string>VaOttu</string>
		<string>ShaOttu</string>
		<string>SSaOttu</string>
		<string>SaOttu</string>
		<string>HaOttu</string>
		<string>KshaOttu</string>
		<string>TRaOttu</string>
		<string>Titvam</string>
		<string>TLaOttu</string>
		<string>GNaOttu</string>
		<string>SHNaOttu</string>
		<string>GyaOttu</string>
		<string>RaOttuWide1</string>
		<string>RaOttuMiddle1</string>
		<string>LowItvam</string>
		<string>SsaTtaOttu</string>
		<string>Multiply</string>
		<string>DoubleDanda</string>
		<string>SsaTthaOttu</string>
		<string>KhaHalanth</string>
		<string>GaHalanth</string>
		<string>GhaHalanth</string>
		<string>NGaHalanth</string>
		<string>CaHalanth</string>
		<string>CaNuktaHalanth</string>
		<string>ChaHalanth</string>
		<string>JaHalanth</string>
		<string>JaNuktaHalanth</string>
		<string>JhaHalanth</string>
		<string>NyaHalanth</string>
		<string>TTaHalanth</string>
		<string>TThaHalanth</string>
		<string>DDaHalanth</string>
		<string>DDhaHalanth</string>
		<string>NNaHalanth</string>
		<string>TaHalanth</string>
		<string>ThaHalanth</string>
		<string>DaHalanth</string>
		<string>DhaHalanth</string>
		<string>NaHalanth</string>
		<string>PaHalanth</string>
		<string>PhaHalanth</string>
		<string>BaHalanth</string>
		<string>BhaHalanth</string>
		<string>MaHalanth</string>
		<string>YaHalanth</string>
		<string>RaHalanth</string>
		<string>RRaHalanth</string>
		<string>LaHalanth</string>
		<string>LLaHalanth</string>
		<string>VaHalanth</string>
		<string>ShaHalanth</string>
		<string>SSaHalanth</string>
		<string>SaHalanth</string>
		<string>HaHalanth</string>
		<string>KshaHalanth</string>
		<string>KaAA</string>
		<string>KaI</string>
		<string>KaII</string>
		<string>KaU</string>
		<string>KaUU</string>
		<string>KaE</string>
		<string>KaEE</string>
		<string>KaO</string>
		<string>KaOO</string>
		<string>KaAU</string>
		<string>KhaAA</string>
		<string>KhaI</string>
		<string>KhaII</string>
		<string>KhaU</string>
		<string>KhaUU</string>
		<string>KhaE</string>
		<string>KhaEE</string>
		<string>KhaO</string>
		<string>KhaOO</string>
		<string>KhaAU</string>
		<string>GaAA</string>
		<string>GaI</string>
		<string>GaII</string>
		<string>GaU</string>
		<string>GaUU</string>
		<string>GaE</string>
		<string>GaEE</string>
		<string>GaO</string>
		<string>GaOO</string>
		<string>GaAU</string>
		<string>GhaAA</string>
		<string>GhaI</string>
		<string>GhaII</string>
		<string>GhaU</string>
		<string>GhaUU</string>
		<string>GhaE</string>
		<string>GhaEE</string>
		<string>GhaO</string>
		<string>GhaOO</string>
		<string>GhaAU</string>
		<string>NGaAA</string>
		<string>NgaI</string>
		<string>NGaII</string>
		<string>NGaU</string>
		<string>NGaUU</string>
		<string>NGaE</string>
		<string>NGaEE</string>
		<string>NGaO</string>
		<string>NGaOO</string>
		<string>NGaAU</string>
		<string>CaAA</string>
		<string>CaI</string>
		<string>CaII</string>
		<string>CaU</string>
		<string>CaUU</string>
		<string>CaE</string>
		<string>CaEE</string>
		<string>CaO</string>
		<string>CaOO</string>
		<string>CaAU</string>
		<string>CaNuktaAA</string>
		<string>CaNuktaU</string>
		<string>CaNuktaUU</string>
		<string>CaNuktaO</string>
		<string>CaNuktaOO</string>
		<string>CaNuktaAU</string>
		<string>ChaAA</string>
		<string>ChaI</string>
		<string>ChaII</string>
		<string>ChaU</string>
		<string>ChaUU</string>
		<string>ChaE</string>
		<string>ChaEE</string>
		<string>ChaO</string>
		<string>ChaOO</string>
		<string>ChaAU</string>
		<string>JaAA</string>
		<string>JaI</string>
		<string>JaII</string>
		<string>JaU</string>
		<string>JaUU</string>
		<string>JaE</string>
		<string>JaEE</string>
		<string>JaO</string>
		<string>JaOO</string>
		<string>JaAU</string>
		<string>JaNuktaAA</string>
		<string>JaNuktaU</string>
		<string>JaNuktaUU</string>
		<string>JaNuktaO</string>
		<string>JaNuktaOO</string>
		<string>JaNuktaAU</string>
		<string>JhaAA</string>
		<string>JhaI</string>
		<string>JhaII</string>
		<string>JhaU</string>
		<string>JhaUU</string>
		<string>JhaE</string>
		<string>JhaEE</string>
		<string>JhaO</string>
		<string>JhaOO</string>
		<string>JhaAU</string>
		<string>NyaAA</string>
		<string>NyaI</string>
		<string>NyaII</string>
		<string>NyaU</string>
		<string>NyaUU</string>
		<string>NyaE</string>
		<string>NyaEE</string>
		<string>NyaO</string>
		<string>NyaOO</string>
		<string>NyaAU</string>
		<string>TTaAA</string>
		<string>TTaI</string>
		<string>TTaII</string>
		<string>TTaU</string>
		<string>TTaUU</string>
		<string>TTaE</string>
		<string>TTaEE</string>
		<string>TTaO</string>
		<string>TTaOO</string>
		<string>TTaAU</string>
		<string>TThaAA</string>
		<string>TThaI</string>
		<string>TThaII</string>
		<string>TThaU</string>
		<string>TThaUU</string>
		<string>TThaE</string>
		<string>TThaEE</string>
		<string>TThaO</string>
		<string>TThaOO</string>
		<string>TThaAU</string>
		<string>DDaAA</string>
		<string>DDaI</string>
		<string>DDaII</string>
		<string>DDaU</string>
		<string>DDaUU</string>
		<string>DDaE</string>
		<string>DDaEE</string>
		<string>DDaO</string>
		<string>DDaOO</string>
		<string>DDaAU</string>
		<string>DDhaAA</string>
		<string>DDhaI</string>
		<string>DDhaII</string>
		<string>DDhaU</string>
		<string>DDhaUU</string>
		<string>DDhaE</string>
		<string>DDhaEE</string>
		<string>DDhaO</string>
		<string>DDhaOO</string>
		<string>DDhaAU</string>
		<string>NNaAA</string>
		<string>NNaI</string>
		<string>NNaII</string>
		<string>NNaU</string>
		<string>NNaUU</string>
		<string>NNaE</string>
		<string>NNaEE</string>
		<string>NNaO</string>
		<string>NNaOO</string>
		<string>NNaAU</string>
		<string>TaAA</string>
		<string>TaI</string>
		<string>TaII</string>
		<string>TaU</string>
		<string>TaUU</string>
		<string>TaE</string>
		<string>TaEE</string>
		<string>TaO</string>
		<string>TaOO</string>
		<string>TaAU</string>
		<string>ThaAA</string>
		<string>ThaI</string>
		<string>ThaII</string>
		<string>ThaU</string>
		<string>ThaUU</string>
		<string>ThaE</string>
		<string>ThaEE</string>
		<string>ThaO</string>
		<string>ThaOO</string>
		<string>ThaAU</string>
		<string>DaAA</string>
		<string>DaI</string>
		<string>DaII</string>
		<string>DaU</string>
		<string>DaUU</string>
		<string>DaE</string>
		<string>DaEE</string>
		<string>DaO</string>
		<string>DaOO</string>
		<string>DaAU</string>
		<string>DhaAA</string>
		<string>DhaI</string>
		<string>DhaII</string>
		<string>DhaU</string>
		<string>DhaUU</string>
		<string>DhaE</string>
		<string>DhaEE</string>
		<string>DhaO</string>
		<string>DhaOO</string>
		<string>DhaAU</string>
		<string>NaAA</string>
		<string>NaI</string>
		<string>NaII</string>
		<string>NaU</string>
		<string>NaUU</string>
		<string>NaE</string>
		<string>NaEE</string>
		<string>NaO</string>
		<string>NaOO</string>
		<string>NaAU</string>
		<string>PaAA</string>
		<string>PaI</string>
		<string>PaII</string>
		<string>PaU</string>
		<string>PaUU</string>
		<string>PaE</string>
		<string>PaEE</string>
		<string>PaO</string>
		<string>PaOO</string>
		<string>PaAU</string>
		<string>PhaAA</string>
		<string>PhaI</string>
		<string>PhaII</string>
		<string>PhaU</string>
		<string>PhaUU</string>
		<string>PhaE</string>
		<string>PhaEE</string>
		<string>PhaO</string>
		<string>PhaOO</string>
		<string>PhaAU</string>
		<string>BaAA</string>
		<string>BaI</string>
		<string>BaII</string>
		<string>BaU</string>
		<string>BaUU</string>
		<string>BaE</string>
		<string>BaEE</string>
		<string>BaO</string>
		<string>BaOO</string>
		<string>BaAU</string>
		<string>BhaAA</string>
		<string>BhaI</string>
		<string>BhaII</string>
		<string>BhaU</string>
		<string>BhaUU</string>
		<string>BhaE</string>
		<string>BhaEE</string>
		<string>BhaO</string>
		<string>BhaOO</string>
		<string>BhaAU</string>
		<string>MaAA</string>
		<string>MaI</string>
		<string>MaII</string>
		<string>MaU</string>
		<string>MaUU</string>
		<string>MaE</string>
		<string>MaEE</string>
		<string>MaO</string>
		<string>MaOO</string>
		<string>MaAU</string>
		<string>YaAA</string>
		<string>YaI</string>
		<string>YaII</string>
		<string>YaU</string>
		<string>YaUU</string>
		<string>YaE</string>
		<string>YaEE</string>
		<string>YaO</string>
		<string>YaOO</string>
		<string>YaAU</string>
		<string>RaAA</string>
		<string>RaI</string>
		<string>RaII</string>
		<string>RaU</string>
		<string>RaUU</string>
		<string>RaE</string>
		<string>RaEE</string>
		<string>RaO</string>
		<string>RaOO</string>
		<string>RaAU</string>
		<string>RRaAA</string>
		<string>RRaI</string>
		<string>RRaII</string>
		<string>RRaU</string>
		<string>RRaUU</string>
		<string>RRaE</string>
		<string>RRaEE</string>
		<string>RRaO</string>
		<string>RRaOO</string>
		<string>RRaAU</string>
		<string>LaAA</string>
		<string>LaI</string>
		<string>LaII</string>
		<string>LaU</string>
		<string>LaUU</string>
		<string>LaE</string>
		<string>LaEE</string>
		<string>LaO</string>
		<string>LaOO</string>
		<string>LaAU</string>
		<string>LLaAA</string>
		<string>LLaI</string>
		<string>LLaII</string>
		<string>LLaU</string>
		<string>LLaUU</string>
		<string>LLaE</string>
		<string>LLaEE</string>
		<string>LLaO</string>
		<string>LLaOO</string>
		<string>LLaAU</string>
		<string>VaAA</string>
		<string>VaI</string>
		<string>VaII</string>
		<string>VaU</string>
		<string>VaUU</string>
		<string>VaE</string>
		<string>VaEE</string>
		<string>VaO</string>
		<string>VaOO</string>
		<string>VaAU</string>
		<string>ShaAA</string>
		<string>ShaI</string>
		<string>ShaII</string>
		<string>ShaU</string>
		<string>ShaUU</string>
		<string>ShaE</string>
		<string>ShaEE</string>
		<string>ShaO</string>
		<string>ShaOO</string>
		<string>ShaAU</string>
		<string>SSaAA</string>
		<string>SSaI</string>
		<string>SSaII</string>
		<string>SSaU</string>
		<string>SSaUU</string>
		<string>SSaE</string>
		<string>SSaEE</string>
		<string>SSaO</string>
		<string>SSaOO</string>
		<string>SSaAU</string>
		<string>SaAA</string>
		<string>SaI</string>
		<string>SaII</string>
		<string>SaU</string>
		<string>SaUU</string>
		<string>SaE</string>
		<string>SaEE</string>
		<string>SaO</string>
		<string>SaOO</string>
		<string>SaAU</string>
		<string>HaAA</string>
		<string>HaI</string>
		<string>HaII</string>
		<string>HaU</string>
		<string>HaUU</string>
		<string>HaE</string>
		<string>HaEE</string>
		<string>HaO</string>
		<string>HaOO</string>
		<string>HaAU</string>
		<string>KshaAA</string>
		<string>KshaI</string>
		<string>KshaII</string>
		<string>KshaU</string>
		<string>KshaUU</string>
		<string>KshaE</string>
		<string>KshaEE</string>
		<string>KshaO</string>
		<string>KshaOO</string>
		<string>KshaAU</string>
		<string>ch744</string>
		<string>ch745</string>
		<string>ch746</string>
		<string>ch747</string>
		<string>ch748</string>
		<string>ch749</string>
		<string>ch750</string>
		<string>ch751</string>
		<string>ch752</string>
		<string>ch753</string>
		<string>ch754</string>
		<string>ch755</string>
		<string>ch756</string>
		<string>ch757</string>
		<string>ch758</string>
		<string>ch759</string>
		<string>ch763</string>
		<string>ch764</string>
		<string>ch765</string>
		<string>ch766</string>
		<string>ch767</string>
		<string>ch768</string>
		<string>ch769</string>
		<string>ch770</string>
		<string>ch771</string>
		<string>ch772</string>
		<string>ch773</string>
		<string>ch774</string>
		<string>KshaAI</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gdotaccent</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>Jcircumflex</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Thorn</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>uni0122</string>
		<string>uni0136</string>
		<string>uni013B</string>
		<string>uni0145</string>
		<string>uni0156</string>
		<string>uni0162</string>
		<string>uni0218</string>
		<string>uni021A</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gdotaccent</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>dotlessj</string>
		<string>jcircumflex</string>
		<string>kgreenlandic</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>thorn</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>germandbls</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uni0123</string>
		<string>uni0137</string>
		<string>uni013C</string>
		<string>uni0146</string>
		<string>uni0157</string>
		<string>uni0163</string>
		<string>uni0219</string>
		<string>uni021B</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>Delta</string>
		<string>uni0394</string>
		<string>Omega</string>
		<string>uni03A9</string>
		<string>mu</string>
		<string>uni03BC</string>
		<string>pi</string>
		<string>fraction</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>exclamdown</string>
		<string>questiondown</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>Euro</string>
		<string>cent</string>
		<string>currency</string>
		<string>florin</string>
		<string>franc</string>
		<string>lira</string>
		<string>sterling</string>
		<string>yen</string>
		<string>approxequal</string>
		<string>divide</string>
		<string>greaterequal</string>
		<string>infinity</string>
		<string>integral</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>perthousand</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>lozenge</string>
		<string>apple</string>
		<string>brokenbar</string>
		<string>paragraph</string>
		<string>section</string>
		<string>degree</string>
		<string>estimated</string>
		<string>uni2113</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>acute.case</string>
		<string>breve.case</string>
		<string>caron.case</string>
		<string>circumflex.case</string>
		<string>dieresis.case</string>
		<string>dotaccent.case</string>
		<string>grave.case</string>
		<string>hungarumlaut.case</string>
		<string>macron.case</string>
		<string>ring.case</string>
		<string>tilde.case</string>
		<string>caron.salt</string>
		<string>commaaccent</string>
		<string>commaaccent.salt</string>
		<string>UMatra.telu</string>
		<string>SSa.base</string>
		<string>Ha.base</string>
		<string>Ka.base</string>
		<string>Sa.base</string>
		<string>Ta.base</string>
		<string>Sha.base</string>
		<string>LLa.base</string>
		<string>UU.telu</string>
		<string>DDa.base</string>
		<string>Ca.base</string>
		<string>Va.base</string>
		<string>Na.base</string>
		<string>Pa.base</string>
		<string>Tha.base</string>
		<string>TTh.base</string>
		<string>Ra.base</string>
		<string>Ga.base</string>
		<string>Da.base</string>
		<string>mark.inferior</string>
		<string>Pha.base</string>
		<string>Ya.base</string>
		<string>Ka.base01</string>
		<string>Pa.base.001</string>
		<string>TTa.base</string>
		<string>Ksha.base</string>
		<string>Ksha.base.001</string>
		<string>eslash</string>
		<string>barra</string>
		<string>ringacute</string>
		<string>ringacute.case</string>
		<string>_0006</string>
	</array>
</dict>
</plist>
