<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AA</key>
	<string>A_A_.glif</string>
	<key>AAMatra</key>
	<string>A_A_M_atra.glif</string>
	<key>AI</key>
	<string>A_I_.glif</string>
	<key>AIMatra</key>
	<string>A_I_M_atra.glif</string>
	<key>AU</key>
	<string>A_U_.glif</string>
	<key>Anudatta</key>
	<string>A_nudatta.glif</string>
	<key>Anusvara</key>
	<string>A_nusvara.glif</string>
	<key>Arasunna</key>
	<string>A_rasunna.glif</string>
	<key>AuMatra</key>
	<string>A_uM_atra.glif</string>
	<key>Avagraha</key>
	<string>A_vagraha.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>Ba</key>
	<string>B_a.glif</string>
	<key>BaAA</key>
	<string>B_aA_A_.glif</string>
	<key>BaAU</key>
	<string>B_aA_U_.glif</string>
	<key>BaE</key>
	<string>B_aE_.glif</string>
	<key>BaEE</key>
	<string>B_aE_E_.glif</string>
	<key>BaHalanth</key>
	<string>B_aH_alanth.glif</string>
	<key>BaI</key>
	<string>B_aI_.glif</string>
	<key>BaII</key>
	<string>B_aI_I_.glif</string>
	<key>BaO</key>
	<string>B_aO_.glif</string>
	<key>BaOO</key>
	<string>B_aO_O_.glif</string>
	<key>BaOttu</key>
	<string>B_aO_ttu.glif</string>
	<key>BaU</key>
	<string>B_aU_.glif</string>
	<key>BaUU</key>
	<string>B_aU_U_.glif</string>
	<key>Bha</key>
	<string>B_ha.glif</string>
	<key>BhaAA</key>
	<string>B_haA_A_.glif</string>
	<key>BhaAU</key>
	<string>B_haA_U_.glif</string>
	<key>BhaE</key>
	<string>B_haE_.glif</string>
	<key>BhaEE</key>
	<string>B_haE_E_.glif</string>
	<key>BhaHalanth</key>
	<string>B_haH_alanth.glif</string>
	<key>BhaI</key>
	<string>B_haI_.glif</string>
	<key>BhaII</key>
	<string>B_haI_I_.glif</string>
	<key>BhaO</key>
	<string>B_haO_.glif</string>
	<key>BhaOO</key>
	<string>B_haO_O_.glif</string>
	<key>BhaOttu</key>
	<string>B_haO_ttu.glif</string>
	<key>BhaU</key>
	<string>B_haU_.glif</string>
	<key>BhaUU</key>
	<string>B_haU_U_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>Ca</key>
	<string>C_a.glif</string>
	<key>Ca.base</key>
	<string>C_a.base.glif</string>
	<key>CaAA</key>
	<string>C_aA_A_.glif</string>
	<key>CaAU</key>
	<string>C_aA_U_.glif</string>
	<key>CaE</key>
	<string>C_aE_.glif</string>
	<key>CaEE</key>
	<string>C_aE_E_.glif</string>
	<key>CaHalanth</key>
	<string>C_aH_alanth.glif</string>
	<key>CaI</key>
	<string>C_aI_.glif</string>
	<key>CaII</key>
	<string>C_aI_I_.glif</string>
	<key>CaNukta</key>
	<string>C_aN_ukta.glif</string>
	<key>CaNuktaAA</key>
	<string>C_aN_uktaA_A_.glif</string>
	<key>CaNuktaAU</key>
	<string>C_aN_uktaA_U_.glif</string>
	<key>CaNuktaHalanth</key>
	<string>C_aN_uktaH_alanth.glif</string>
	<key>CaNuktaO</key>
	<string>C_aN_uktaO_.glif</string>
	<key>CaNuktaOO</key>
	<string>C_aN_uktaO_O_.glif</string>
	<key>CaNuktaU</key>
	<string>C_aN_uktaU_.glif</string>
	<key>CaNuktaUU</key>
	<string>C_aN_uktaU_U_.glif</string>
	<key>CaO</key>
	<string>C_aO_.glif</string>
	<key>CaOO</key>
	<string>C_aO_O_.glif</string>
	<key>CaOttu</key>
	<string>C_aO_ttu.glif</string>
	<key>CaU</key>
	<string>C_aU_.glif</string>
	<key>CaUU</key>
	<string>C_aU_U_.glif</string>
	<key>Cha</key>
	<string>C_ha.glif</string>
	<key>ChaAA</key>
	<string>C_haA_A_.glif</string>
	<key>ChaAU</key>
	<string>C_haA_U_.glif</string>
	<key>ChaE</key>
	<string>C_haE_.glif</string>
	<key>ChaEE</key>
	<string>C_haE_E_.glif</string>
	<key>ChaHalanth</key>
	<string>C_haH_alanth.glif</string>
	<key>ChaI</key>
	<string>C_haI_.glif</string>
	<key>ChaII</key>
	<string>C_haI_I_.glif</string>
	<key>ChaO</key>
	<string>C_haO_.glif</string>
	<key>ChaOO</key>
	<string>C_haO_O_.glif</string>
	<key>ChaOttu</key>
	<string>C_haO_ttu.glif</string>
	<key>ChaU</key>
	<string>C_haU_.glif</string>
	<key>ChaUU</key>
	<string>C_haU_U_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>DDa</key>
	<string>D_D_a.glif</string>
	<key>DDa.base</key>
	<string>D_D_a.base.glif</string>
	<key>DDaAA</key>
	<string>D_D_aA_A_.glif</string>
	<key>DDaAU</key>
	<string>D_D_aA_U_.glif</string>
	<key>DDaE</key>
	<string>D_D_aE_.glif</string>
	<key>DDaEE</key>
	<string>D_D_aE_E_.glif</string>
	<key>DDaHalanth</key>
	<string>D_D_aH_alanth.glif</string>
	<key>DDaI</key>
	<string>D_D_aI_.glif</string>
	<key>DDaII</key>
	<string>D_D_aI_I_.glif</string>
	<key>DDaO</key>
	<string>D_D_aO_.glif</string>
	<key>DDaOO</key>
	<string>D_D_aO_O_.glif</string>
	<key>DDaOttu</key>
	<string>D_D_aO_ttu.glif</string>
	<key>DDaU</key>
	<string>D_D_aU_.glif</string>
	<key>DDaUU</key>
	<string>D_D_aU_U_.glif</string>
	<key>DDha</key>
	<string>D_D_ha.glif</string>
	<key>DDhaAA</key>
	<string>D_D_haA_A_.glif</string>
	<key>DDhaAU</key>
	<string>D_D_haA_U_.glif</string>
	<key>DDhaE</key>
	<string>D_D_haE_.glif</string>
	<key>DDhaEE</key>
	<string>D_D_haE_E_.glif</string>
	<key>DDhaHalanth</key>
	<string>D_D_haH_alanth.glif</string>
	<key>DDhaI</key>
	<string>D_D_haI_.glif</string>
	<key>DDhaII</key>
	<string>D_D_haI_I_.glif</string>
	<key>DDhaO</key>
	<string>D_D_haO_.glif</string>
	<key>DDhaOO</key>
	<string>D_D_haO_O_.glif</string>
	<key>DDhaOttu</key>
	<string>D_D_haO_ttu.glif</string>
	<key>DDhaU</key>
	<string>D_D_haU_.glif</string>
	<key>DDhaUU</key>
	<string>D_D_haU_U_.glif</string>
	<key>DEVANAGARI_DANDA</key>
	<string>D_E_V_A_N_A_G_A_R_I__D_A_N_D_A_.glif</string>
	<key>DEVANAGARI_DOUBLE_DANDA</key>
	<string>D_E_V_A_N_A_G_A_R_I__D_O_U_B_L_E__D_A_N_D_A_.glif</string>
	<key>Da</key>
	<string>D_a.glif</string>
	<key>Da.base</key>
	<string>D_a.base.glif</string>
	<key>DaAA</key>
	<string>D_aA_A_.glif</string>
	<key>DaAU</key>
	<string>D_aA_U_.glif</string>
	<key>DaE</key>
	<string>D_aE_.glif</string>
	<key>DaEE</key>
	<string>D_aE_E_.glif</string>
	<key>DaHalanth</key>
	<string>D_aH_alanth.glif</string>
	<key>DaI</key>
	<string>D_aI_.glif</string>
	<key>DaII</key>
	<string>D_aI_I_.glif</string>
	<key>DaO</key>
	<string>D_aO_.glif</string>
	<key>DaOO</key>
	<string>D_aO_O_.glif</string>
	<key>DaOttu</key>
	<string>D_aO_ttu.glif</string>
	<key>DaU</key>
	<string>D_aU_.glif</string>
	<key>DaUU</key>
	<string>D_aU_U_.glif</string>
	<key>Dha</key>
	<string>D_ha.glif</string>
	<key>DhaAA</key>
	<string>D_haA_A_.glif</string>
	<key>DhaAU</key>
	<string>D_haA_U_.glif</string>
	<key>DhaE</key>
	<string>D_haE_.glif</string>
	<key>DhaEE</key>
	<string>D_haE_E_.glif</string>
	<key>DhaHalanth</key>
	<string>D_haH_alanth.glif</string>
	<key>DhaI</key>
	<string>D_haI_.glif</string>
	<key>DhaII</key>
	<string>D_haI_I_.glif</string>
	<key>DhaO</key>
	<string>D_haO_.glif</string>
	<key>DhaOO</key>
	<string>D_haO_O_.glif</string>
	<key>DhaOttu</key>
	<string>D_haO_ttu.glif</string>
	<key>DhaU</key>
	<string>D_haU_.glif</string>
	<key>DhaUU</key>
	<string>D_haU_U_.glif</string>
	<key>Divide</key>
	<string>D_ivide.glif</string>
	<key>DoubleDanda</key>
	<string>D_oubleD_anda.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>EE</key>
	<string>E_E_.glif</string>
	<key>EEMatra</key>
	<string>E_E_M_atra.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>GNaOttu</key>
	<string>G_N_aO_ttu.glif</string>
	<key>Ga</key>
	<string>G_a.glif</string>
	<key>Ga.base</key>
	<string>G_a.base.glif</string>
	<key>GaAA</key>
	<string>G_aA_A_.glif</string>
	<key>GaAU</key>
	<string>G_aA_U_.glif</string>
	<key>GaE</key>
	<string>G_aE_.glif</string>
	<key>GaEE</key>
	<string>G_aE_E_.glif</string>
	<key>GaHalanth</key>
	<string>G_aH_alanth.glif</string>
	<key>GaI</key>
	<string>G_aI_.glif</string>
	<key>GaII</key>
	<string>G_aI_I_.glif</string>
	<key>GaO</key>
	<string>G_aO_.glif</string>
	<key>GaOO</key>
	<string>G_aO_O_.glif</string>
	<key>GaOttu</key>
	<string>G_aO_ttu.glif</string>
	<key>GaU</key>
	<string>G_aU_.glif</string>
	<key>GaUU</key>
	<string>G_aU_U_.glif</string>
	<key>Gha</key>
	<string>G_ha.glif</string>
	<key>GhaAA</key>
	<string>G_haA_A_.glif</string>
	<key>GhaAU</key>
	<string>G_haA_U_.glif</string>
	<key>GhaE</key>
	<string>G_haE_.glif</string>
	<key>GhaEE</key>
	<string>G_haE_E_.glif</string>
	<key>GhaHalanth</key>
	<string>G_haH_alanth.glif</string>
	<key>GhaI</key>
	<string>G_haI_.glif</string>
	<key>GhaII</key>
	<string>G_haI_I_.glif</string>
	<key>GhaO</key>
	<string>G_haO_.glif</string>
	<key>GhaOO</key>
	<string>G_haO_O_.glif</string>
	<key>GhaOttu</key>
	<string>G_haO_ttu.glif</string>
	<key>GhaU</key>
	<string>G_haU_.glif</string>
	<key>GhaUU</key>
	<string>G_haU_U_.glif</string>
	<key>GyaOttu</key>
	<string>G_yaO_ttu.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Ha</key>
	<string>H_a.glif</string>
	<key>HaAA</key>
	<string>H_aA_A_.glif</string>
	<key>HaAU</key>
	<string>H_aA_U_.glif</string>
	<key>HaE</key>
	<string>H_aE_.glif</string>
	<key>HaEE</key>
	<string>H_aE_E_.glif</string>
	<key>HaHalanth</key>
	<string>H_aH_alanth.glif</string>
	<key>HaI</key>
	<string>H_aI_.glif</string>
	<key>HaII</key>
	<string>H_aI_I_.glif</string>
	<key>HaO</key>
	<string>H_aO_.glif</string>
	<key>HaOO</key>
	<string>H_aO_O_.glif</string>
	<key>HaOttu</key>
	<string>H_aO_ttu.glif</string>
	<key>HaU</key>
	<string>H_aU_.glif</string>
	<key>HaUU</key>
	<string>H_aU_U_.glif</string>
	<key>Halanth</key>
	<string>H_alanth.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>II</key>
	<string>I_I_.glif</string>
	<key>IIMatra</key>
	<string>I_I_M_atra.glif</string>
	<key>Imatra</key>
	<string>I_matra.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>Ja</key>
	<string>J_a.glif</string>
	<key>JaAA</key>
	<string>J_aA_A_.glif</string>
	<key>JaAU</key>
	<string>J_aA_U_.glif</string>
	<key>JaE</key>
	<string>J_aE_.glif</string>
	<key>JaEE</key>
	<string>J_aE_E_.glif</string>
	<key>JaHalanth</key>
	<string>J_aH_alanth.glif</string>
	<key>JaI</key>
	<string>J_aI_.glif</string>
	<key>JaII</key>
	<string>J_aI_I_.glif</string>
	<key>JaNukta</key>
	<string>J_aN_ukta.glif</string>
	<key>JaNuktaAA</key>
	<string>J_aN_uktaA_A_.glif</string>
	<key>JaNuktaAU</key>
	<string>J_aN_uktaA_U_.glif</string>
	<key>JaNuktaHalanth</key>
	<string>J_aN_uktaH_alanth.glif</string>
	<key>JaNuktaO</key>
	<string>J_aN_uktaO_.glif</string>
	<key>JaNuktaOO</key>
	<string>J_aN_uktaO_O_.glif</string>
	<key>JaNuktaU</key>
	<string>J_aN_uktaU_.glif</string>
	<key>JaNuktaUU</key>
	<string>J_aN_uktaU_U_.glif</string>
	<key>JaO</key>
	<string>J_aO_.glif</string>
	<key>JaOO</key>
	<string>J_aO_O_.glif</string>
	<key>JaOttu</key>
	<string>J_aO_ttu.glif</string>
	<key>JaU</key>
	<string>J_aU_.glif</string>
	<key>JaUU</key>
	<string>J_aU_U_.glif</string>
	<key>Jha</key>
	<string>J_ha.glif</string>
	<key>JhaAA</key>
	<string>J_haA_A_.glif</string>
	<key>JhaAU</key>
	<string>J_haA_U_.glif</string>
	<key>JhaE</key>
	<string>J_haE_.glif</string>
	<key>JhaEE</key>
	<string>J_haE_E_.glif</string>
	<key>JhaHalanth</key>
	<string>J_haH_alanth.glif</string>
	<key>JhaI</key>
	<string>J_haI_.glif</string>
	<key>JhaII</key>
	<string>J_haI_I_.glif</string>
	<key>JhaO</key>
	<string>J_haO_.glif</string>
	<key>JhaOO</key>
	<string>J_haO_O_.glif</string>
	<key>JhaOttu</key>
	<string>J_haO_ttu.glif</string>
	<key>JhaU</key>
	<string>J_haU_.glif</string>
	<key>JhaUU</key>
	<string>J_haU_U_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Ka</key>
	<string>K_a.glif</string>
	<key>KaAA</key>
	<string>K_aA_A_.glif</string>
	<key>KaAU</key>
	<string>K_aA_U_.glif</string>
	<key>KaE</key>
	<string>K_aE_.glif</string>
	<key>KaEE</key>
	<string>K_aE_E_.glif</string>
	<key>KaHalanth</key>
	<string>K_aH_alanth.glif</string>
	<key>KaI</key>
	<string>K_aI_.glif</string>
	<key>KaII</key>
	<string>K_aI_I_.glif</string>
	<key>KaO</key>
	<string>K_aO_.glif</string>
	<key>KaOO</key>
	<string>K_aO_O_.glif</string>
	<key>KaU</key>
	<string>K_aU_.glif</string>
	<key>KaUU</key>
	<string>K_aU_U_.glif</string>
	<key>Kaottu</key>
	<string>K_aottu.glif</string>
	<key>Kha</key>
	<string>K_ha.glif</string>
	<key>KhaAA</key>
	<string>K_haA_A_.glif</string>
	<key>KhaAU</key>
	<string>K_haA_U_.glif</string>
	<key>KhaE</key>
	<string>K_haE_.glif</string>
	<key>KhaEE</key>
	<string>K_haE_E_.glif</string>
	<key>KhaHalanth</key>
	<string>K_haH_alanth.glif</string>
	<key>KhaI</key>
	<string>K_haI_.glif</string>
	<key>KhaII</key>
	<string>K_haI_I_.glif</string>
	<key>KhaO</key>
	<string>K_haO_.glif</string>
	<key>KhaOO</key>
	<string>K_haO_O_.glif</string>
	<key>KhaOttu</key>
	<string>K_haO_ttu.glif</string>
	<key>KhaU</key>
	<string>K_haU_.glif</string>
	<key>KhaUU</key>
	<string>K_haU_U_.glif</string>
	<key>KshNnaAI</key>
	<string>K_shN_naA_I_.glif</string>
	<key>Ksha</key>
	<string>K_sha.glif</string>
	<key>KshaAA</key>
	<string>K_shaA_A_.glif</string>
	<key>KshaAI</key>
	<string>K_shaA_I_.glif</string>
	<key>KshaAU</key>
	<string>K_shaA_U_.glif</string>
	<key>KshaE</key>
	<string>K_shaE_.glif</string>
	<key>KshaEE</key>
	<string>K_shaE_E_.glif</string>
	<key>KshaHalanth</key>
	<string>K_shaH_alanth.glif</string>
	<key>KshaI</key>
	<string>K_shaI_.glif</string>
	<key>KshaII</key>
	<string>K_shaI_I_.glif</string>
	<key>KshaO</key>
	<string>K_shaO_.glif</string>
	<key>KshaOO</key>
	<string>K_shaO_O_.glif</string>
	<key>KshaOttu</key>
	<string>K_shaO_ttu.glif</string>
	<key>KshaU</key>
	<string>K_shaU_.glif</string>
	<key>KshaUU</key>
	<string>K_shaU_U_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>LLa</key>
	<string>L_L_a.glif</string>
	<key>LLa.base</key>
	<string>L_L_a.base.glif</string>
	<key>LLaAA</key>
	<string>L_L_aA_A_.glif</string>
	<key>LLaAU</key>
	<string>L_L_aA_U_.glif</string>
	<key>LLaE</key>
	<string>L_L_aE_.glif</string>
	<key>LLaEE</key>
	<string>L_L_aE_E_.glif</string>
	<key>LLaHalanth</key>
	<string>L_L_aH_alanth.glif</string>
	<key>LLaI</key>
	<string>L_L_aI_.glif</string>
	<key>LLaII</key>
	<string>L_L_aI_I_.glif</string>
	<key>LLaO</key>
	<string>L_L_aO_.glif</string>
	<key>LLaOO</key>
	<string>L_L_aO_O_.glif</string>
	<key>LLaOttu</key>
	<string>L_L_aO_ttu.glif</string>
	<key>LLaU</key>
	<string>L_L_aU_.glif</string>
	<key>LLaUU</key>
	<string>L_L_aU_U_.glif</string>
	<key>LLu</key>
	<string>L_L_u.glif</string>
	<key>La</key>
	<string>L_a.glif</string>
	<key>LaAA</key>
	<string>L_aA_A_.glif</string>
	<key>LaAU</key>
	<string>L_aA_U_.glif</string>
	<key>LaE</key>
	<string>L_aE_.glif</string>
	<key>LaEE</key>
	<string>L_aE_E_.glif</string>
	<key>LaHalanth</key>
	<string>L_aH_alanth.glif</string>
	<key>LaI</key>
	<string>L_aI_.glif</string>
	<key>LaII</key>
	<string>L_aI_I_.glif</string>
	<key>LaO</key>
	<string>L_aO_.glif</string>
	<key>LaOO</key>
	<string>L_aO_O_.glif</string>
	<key>LaOttu</key>
	<string>L_aO_ttu.glif</string>
	<key>LaU</key>
	<string>L_aU_.glif</string>
	<key>LaUU</key>
	<string>L_aU_U_.glif</string>
	<key>Lla</key>
	<string>L_la.glif</string>
	<key>LowItvam</key>
	<string>L_owI_tvam.glif</string>
	<key>Lu</key>
	<string>L_u.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>Ma</key>
	<string>M_a.glif</string>
	<key>MaAA</key>
	<string>M_aA_A_.glif</string>
	<key>MaAU</key>
	<string>M_aA_U_.glif</string>
	<key>MaE</key>
	<string>M_aE_.glif</string>
	<key>MaEE</key>
	<string>M_aE_E_.glif</string>
	<key>MaHalanth</key>
	<string>M_aH_alanth.glif</string>
	<key>MaI</key>
	<string>M_aI_.glif</string>
	<key>MaII</key>
	<string>M_aI_I_.glif</string>
	<key>MaO</key>
	<string>M_aO_.glif</string>
	<key>MaOO</key>
	<string>M_aO_O_.glif</string>
	<key>MaOttu</key>
	<string>M_aO_ttu.glif</string>
	<key>MaU</key>
	<string>M_aU_.glif</string>
	<key>MaUU</key>
	<string>M_aU_U_.glif</string>
	<key>Multiply</key>
	<string>M_ultiply.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>NGaAA</key>
	<string>N_G_aA_A_.glif</string>
	<key>NGaAU</key>
	<string>N_G_aA_U_.glif</string>
	<key>NGaE</key>
	<string>N_G_aE_.glif</string>
	<key>NGaEE</key>
	<string>N_G_aE_E_.glif</string>
	<key>NGaHalanth</key>
	<string>N_G_aH_alanth.glif</string>
	<key>NGaII</key>
	<string>N_G_aI_I_.glif</string>
	<key>NGaO</key>
	<string>N_G_aO_.glif</string>
	<key>NGaOO</key>
	<string>N_G_aO_O_.glif</string>
	<key>NGaU</key>
	<string>N_G_aU_.glif</string>
	<key>NGaUU</key>
	<string>N_G_aU_U_.glif</string>
	<key>NNaAA</key>
	<string>N_N_aA_A_.glif</string>
	<key>NNaAU</key>
	<string>N_N_aA_U_.glif</string>
	<key>NNaE</key>
	<string>N_N_aE_.glif</string>
	<key>NNaEE</key>
	<string>N_N_aE_E_.glif</string>
	<key>NNaHalanth</key>
	<string>N_N_aH_alanth.glif</string>
	<key>NNaI</key>
	<string>N_N_aI_.glif</string>
	<key>NNaII</key>
	<string>N_N_aI_I_.glif</string>
	<key>NNaO</key>
	<string>N_N_aO_.glif</string>
	<key>NNaOO</key>
	<string>N_N_aO_O_.glif</string>
	<key>NNaOttu</key>
	<string>N_N_aO_ttu.glif</string>
	<key>NNaU</key>
	<string>N_N_aU_.glif</string>
	<key>NNaUU</key>
	<string>N_N_aU_U_.glif</string>
	<key>NULL</key>
	<string>N_U_L_L_.glif</string>
	<key>Na</key>
	<string>N_a.glif</string>
	<key>Na.base</key>
	<string>N_a.base.glif</string>
	<key>NaAA</key>
	<string>N_aA_A_.glif</string>
	<key>NaAU</key>
	<string>N_aA_U_.glif</string>
	<key>NaE</key>
	<string>N_aE_.glif</string>
	<key>NaEE</key>
	<string>N_aE_E_.glif</string>
	<key>NaHalanth</key>
	<string>N_aH_alanth.glif</string>
	<key>NaI</key>
	<string>N_aI_.glif</string>
	<key>NaII</key>
	<string>N_aI_I_.glif</string>
	<key>NaO</key>
	<string>N_aO_.glif</string>
	<key>NaOO</key>
	<string>N_aO_O_.glif</string>
	<key>NaOttu</key>
	<string>N_aO_ttu.glif</string>
	<key>NaU</key>
	<string>N_aU_.glif</string>
	<key>NaUU</key>
	<string>N_aU_U_.glif</string>
	<key>NgaI</key>
	<string>N_gaI_.glif</string>
	<key>NgaOttu</key>
	<string>N_gaO_ttu.glif</string>
	<key>Nukta</key>
	<string>N_ukta.glif</string>
	<key>Nya</key>
	<string>N_ya.glif</string>
	<key>NyaAA</key>
	<string>N_yaA_A_.glif</string>
	<key>NyaAU</key>
	<string>N_yaA_U_.glif</string>
	<key>NyaE</key>
	<string>N_yaE_.glif</string>
	<key>NyaEE</key>
	<string>N_yaE_E_.glif</string>
	<key>NyaHalanth</key>
	<string>N_yaH_alanth.glif</string>
	<key>NyaI</key>
	<string>N_yaI_.glif</string>
	<key>NyaII</key>
	<string>N_yaI_I_.glif</string>
	<key>NyaO</key>
	<string>N_yaO_.glif</string>
	<key>NyaOO</key>
	<string>N_yaO_O_.glif</string>
	<key>NyaOttu</key>
	<string>N_yaO_ttu.glif</string>
	<key>NyaU</key>
	<string>N_yaU_.glif</string>
	<key>NyaUU</key>
	<string>N_yaU_U_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OMatra</key>
	<string>O_M_atra.glif</string>
	<key>OMatra.short</key>
	<string>O_M_atra.short.glif</string>
	<key>OO</key>
	<string>O_O_.glif</string>
	<key>OOMatra</key>
	<string>O_O_M_atra.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Pa</key>
	<string>P_a.glif</string>
	<key>Pa.base</key>
	<string>P_a.base.glif</string>
	<key>PaAA</key>
	<string>P_aA_A_.glif</string>
	<key>PaAU</key>
	<string>P_aA_U_.glif</string>
	<key>PaE</key>
	<string>P_aE_.glif</string>
	<key>PaEE</key>
	<string>P_aE_E_.glif</string>
	<key>PaHalanth</key>
	<string>P_aH_alanth.glif</string>
	<key>PaI</key>
	<string>P_aI_.glif</string>
	<key>PaII</key>
	<string>P_aI_I_.glif</string>
	<key>PaO</key>
	<string>P_aO_.glif</string>
	<key>PaOO</key>
	<string>P_aO_O_.glif</string>
	<key>PaOttu</key>
	<string>P_aO_ttu.glif</string>
	<key>PaU</key>
	<string>P_aU_.glif</string>
	<key>PaUU</key>
	<string>P_aU_U_.glif</string>
	<key>Pha</key>
	<string>P_ha.glif</string>
	<key>Pha.base</key>
	<string>P_ha.base.glif</string>
	<key>PhaAA</key>
	<string>P_haA_A_.glif</string>
	<key>PhaAU</key>
	<string>P_haA_U_.glif</string>
	<key>PhaE</key>
	<string>P_haE_.glif</string>
	<key>PhaEE</key>
	<string>P_haE_E_.glif</string>
	<key>PhaHalanth</key>
	<string>P_haH_alanth.glif</string>
	<key>PhaI</key>
	<string>P_haI_.glif</string>
	<key>PhaII</key>
	<string>P_haI_I_.glif</string>
	<key>PhaO</key>
	<string>P_haO_.glif</string>
	<key>PhaOO</key>
	<string>P_haO_O_.glif</string>
	<key>PhaOttu</key>
	<string>P_haO_ttu.glif</string>
	<key>PhaU</key>
	<string>P_haU_.glif</string>
	<key>PhaUU</key>
	<string>P_haU_U_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>RMatra</key>
	<string>R_M_atra.glif</string>
	<key>RRMatra</key>
	<string>R_R_M_atra.glif</string>
	<key>RRa</key>
	<string>R_R_a.glif</string>
	<key>RRaAA</key>
	<string>R_R_aA_A_.glif</string>
	<key>RRaAU</key>
	<string>R_R_aA_U_.glif</string>
	<key>RRaE</key>
	<string>R_R_aE_.glif</string>
	<key>RRaEE</key>
	<string>R_R_aE_E_.glif</string>
	<key>RRaHalanth</key>
	<string>R_R_aH_alanth.glif</string>
	<key>RRaI</key>
	<string>R_R_aI_.glif</string>
	<key>RRaII</key>
	<string>R_R_aI_I_.glif</string>
	<key>RRaO</key>
	<string>R_R_aO_.glif</string>
	<key>RRaOO</key>
	<string>R_R_aO_O_.glif</string>
	<key>RRaOttu</key>
	<string>R_R_aO_ttu.glif</string>
	<key>RRaU</key>
	<string>R_R_aU_.glif</string>
	<key>RRaUU</key>
	<string>R_R_aU_U_.glif</string>
	<key>RRu</key>
	<string>R_R_u.glif</string>
	<key>Ra</key>
	<string>R_a.glif</string>
	<key>Ra.base</key>
	<string>R_a.base.glif</string>
	<key>RaAA</key>
	<string>R_aA_A_.glif</string>
	<key>RaAU</key>
	<string>R_aA_U_.glif</string>
	<key>RaE</key>
	<string>R_aE_.glif</string>
	<key>RaEE</key>
	<string>R_aE_E_.glif</string>
	<key>RaHalanth</key>
	<string>R_aH_alanth.glif</string>
	<key>RaI</key>
	<string>R_aI_.glif</string>
	<key>RaII</key>
	<string>R_aI_I_.glif</string>
	<key>RaO</key>
	<string>R_aO_.glif</string>
	<key>RaOO</key>
	<string>R_aO_O_.glif</string>
	<key>RaOttuMiddle</key>
	<string>R_aO_ttuM_iddle.glif</string>
	<key>RaOttuMiddle1</key>
	<string>R_aO_ttuM_iddle1.glif</string>
	<key>RaOttuRight</key>
	<string>R_aO_ttuR_ight.glif</string>
	<key>RaOttuWide1</key>
	<string>R_aO_ttuW_ide1.glif</string>
	<key>RaOttuWide2</key>
	<string>R_aO_ttuW_ide2.glif</string>
	<key>RaU</key>
	<string>R_aU_.glif</string>
	<key>RaUU</key>
	<string>R_aU_U_.glif</string>
	<key>Ru</key>
	<string>R_u.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>SHNaOttu</key>
	<string>S_H_N_aO_ttu.glif</string>
	<key>SSa</key>
	<string>S_S_a.glif</string>
	<key>SSaAA</key>
	<string>S_S_aA_A_.glif</string>
	<key>SSaAU</key>
	<string>S_S_aA_U_.glif</string>
	<key>SSaE</key>
	<string>S_S_aE_.glif</string>
	<key>SSaEE</key>
	<string>S_S_aE_E_.glif</string>
	<key>SSaHalanth</key>
	<string>S_S_aH_alanth.glif</string>
	<key>SSaI</key>
	<string>S_S_aI_.glif</string>
	<key>SSaII</key>
	<string>S_S_aI_I_.glif</string>
	<key>SSaO</key>
	<string>S_S_aO_.glif</string>
	<key>SSaOO</key>
	<string>S_S_aO_O_.glif</string>
	<key>SSaOttu</key>
	<string>S_S_aO_ttu.glif</string>
	<key>SSaU</key>
	<string>S_S_aU_.glif</string>
	<key>SSaUU</key>
	<string>S_S_aU_U_.glif</string>
	<key>Sa</key>
	<string>S_a.glif</string>
	<key>Sa.base</key>
	<string>S_a.base.glif</string>
	<key>SaAA</key>
	<string>S_aA_A_.glif</string>
	<key>SaAU</key>
	<string>S_aA_U_.glif</string>
	<key>SaE</key>
	<string>S_aE_.glif</string>
	<key>SaEE</key>
	<string>S_aE_E_.glif</string>
	<key>SaHalanth</key>
	<string>S_aH_alanth.glif</string>
	<key>SaI</key>
	<string>S_aI_.glif</string>
	<key>SaII</key>
	<string>S_aI_I_.glif</string>
	<key>SaO</key>
	<string>S_aO_.glif</string>
	<key>SaOO</key>
	<string>S_aO_O_.glif</string>
	<key>SaOttu</key>
	<string>S_aO_ttu.glif</string>
	<key>SaU</key>
	<string>S_aU_.glif</string>
	<key>SaUU</key>
	<string>S_aU_U_.glif</string>
	<key>Sha</key>
	<string>S_ha.glif</string>
	<key>Sha.base</key>
	<string>S_ha.base.glif</string>
	<key>ShaAA</key>
	<string>S_haA_A_.glif</string>
	<key>ShaAU</key>
	<string>S_haA_U_.glif</string>
	<key>ShaE</key>
	<string>S_haE_.glif</string>
	<key>ShaEE</key>
	<string>S_haE_E_.glif</string>
	<key>ShaHalanth</key>
	<string>S_haH_alanth.glif</string>
	<key>ShaI</key>
	<string>S_haI_.glif</string>
	<key>ShaII</key>
	<string>S_haI_I_.glif</string>
	<key>ShaO</key>
	<string>S_haO_.glif</string>
	<key>ShaOO</key>
	<string>S_haO_O_.glif</string>
	<key>ShaOttu</key>
	<string>S_haO_ttu.glif</string>
	<key>ShaU</key>
	<string>S_haU_.glif</string>
	<key>ShaUU</key>
	<string>S_haU_U_.glif</string>
	<key>SsaTtaOttu</key>
	<string>S_saT_taO_ttu.glif</string>
	<key>SsaTthaOttu</key>
	<string>S_saT_thaO_ttu.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>TLaOttu</key>
	<string>T_L_aO_ttu.glif</string>
	<key>TRaOttu</key>
	<string>T_R_aO_ttu.glif</string>
	<key>TTHaOttu</key>
	<string>T_T_H_aO_ttu.glif</string>
	<key>TTaAA</key>
	<string>T_T_aA_A_.glif</string>
	<key>TTaAU</key>
	<string>T_T_aA_U_.glif</string>
	<key>TTaE</key>
	<string>T_T_aE_.glif</string>
	<key>TTaEE</key>
	<string>T_T_aE_E_.glif</string>
	<key>TTaHalanth</key>
	<string>T_T_aH_alanth.glif</string>
	<key>TTaI</key>
	<string>T_T_aI_.glif</string>
	<key>TTaII</key>
	<string>T_T_aI_I_.glif</string>
	<key>TTaO</key>
	<string>T_T_aO_.glif</string>
	<key>TTaOO</key>
	<string>T_T_aO_O_.glif</string>
	<key>TTaOttu</key>
	<string>T_T_aO_ttu.glif</string>
	<key>TTaU</key>
	<string>T_T_aU_.glif</string>
	<key>TTaUU</key>
	<string>T_T_aU_U_.glif</string>
	<key>TTh.base</key>
	<string>T_T_h.base.glif</string>
	<key>TTha</key>
	<string>T_T_ha.glif</string>
	<key>TThaAA</key>
	<string>T_T_haA_A_.glif</string>
	<key>TThaAU</key>
	<string>T_T_haA_U_.glif</string>
	<key>TThaE</key>
	<string>T_T_haE_.glif</string>
	<key>TThaEE</key>
	<string>T_T_haE_E_.glif</string>
	<key>TThaHalanth</key>
	<string>T_T_haH_alanth.glif</string>
	<key>TThaI</key>
	<string>T_T_haI_.glif</string>
	<key>TThaII</key>
	<string>T_T_haI_I_.glif</string>
	<key>TThaO</key>
	<string>T_T_haO_.glif</string>
	<key>TThaOO</key>
	<string>T_T_haO_O_.glif</string>
	<key>TThaU</key>
	<string>T_T_haU_.glif</string>
	<key>TThaUU</key>
	<string>T_T_haU_U_.glif</string>
	<key>Ta</key>
	<string>T_a.glif</string>
	<key>Ta.base</key>
	<string>T_a.base.glif</string>
	<key>TaAA</key>
	<string>T_aA_A_.glif</string>
	<key>TaAU</key>
	<string>T_aA_U_.glif</string>
	<key>TaE</key>
	<string>T_aE_.glif</string>
	<key>TaEE</key>
	<string>T_aE_E_.glif</string>
	<key>TaHalanth</key>
	<string>T_aH_alanth.glif</string>
	<key>TaI</key>
	<string>T_aI_.glif</string>
	<key>TaII</key>
	<string>T_aI_I_.glif</string>
	<key>TaO</key>
	<string>T_aO_.glif</string>
	<key>TaOO</key>
	<string>T_aO_O_.glif</string>
	<key>TaOttu</key>
	<string>T_aO_ttu.glif</string>
	<key>TaU</key>
	<string>T_aU_.glif</string>
	<key>TaUU</key>
	<string>T_aU_U_.glif</string>
	<key>Telugu0</key>
	<string>T_elugu0.glif</string>
	<key>Telugu1</key>
	<string>T_elugu1.glif</string>
	<key>Telugu2</key>
	<string>T_elugu2.glif</string>
	<key>Telugu3</key>
	<string>T_elugu3.glif</string>
	<key>Telugu4</key>
	<string>T_elugu4.glif</string>
	<key>Telugu5</key>
	<string>T_elugu5.glif</string>
	<key>Telugu6</key>
	<string>T_elugu6.glif</string>
	<key>Telugu7</key>
	<string>T_elugu7.glif</string>
	<key>Telugu8</key>
	<string>T_elugu8.glif</string>
	<key>Telugu9</key>
	<string>T_elugu9.glif</string>
	<key>Tha</key>
	<string>T_ha.glif</string>
	<key>Tha.base</key>
	<string>T_ha.base.glif</string>
	<key>ThaAA</key>
	<string>T_haA_A_.glif</string>
	<key>ThaAU</key>
	<string>T_haA_U_.glif</string>
	<key>ThaE</key>
	<string>T_haE_.glif</string>
	<key>ThaEE</key>
	<string>T_haE_E_.glif</string>
	<key>ThaHalanth</key>
	<string>T_haH_alanth.glif</string>
	<key>ThaI</key>
	<string>T_haI_.glif</string>
	<key>ThaII</key>
	<string>T_haI_I_.glif</string>
	<key>ThaO</key>
	<string>T_haO_.glif</string>
	<key>ThaOO</key>
	<string>T_haO_O_.glif</string>
	<key>ThaOttu</key>
	<string>T_haO_ttu.glif</string>
	<key>ThaU</key>
	<string>T_haU_.glif</string>
	<key>ThaUU</key>
	<string>T_haU_U_.glif</string>
	<key>Titvam</key>
	<string>T_itvam.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.telu</key>
	<string>U_.telu.glif</string>
	<key>UMatra</key>
	<string>U_M_atra.glif</string>
	<key>UU</key>
	<string>U_U_.glif</string>
	<key>UU.telu</key>
	<string>U_U_.telu.glif</string>
	<key>UUMatra</key>
	<string>U_U_M_atra.glif</string>
	<key>Udatta</key>
	<string>U_datta.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>Va</key>
	<string>V_a.glif</string>
	<key>Va.base</key>
	<string>V_a.base.glif</string>
	<key>VaAA</key>
	<string>V_aA_A_.glif</string>
	<key>VaAU</key>
	<string>V_aA_U_.glif</string>
	<key>VaE</key>
	<string>V_aE_.glif</string>
	<key>VaEE</key>
	<string>V_aE_E_.glif</string>
	<key>VaHalanth</key>
	<string>V_aH_alanth.glif</string>
	<key>VaI</key>
	<string>V_aI_.glif</string>
	<key>VaII</key>
	<string>V_aI_I_.glif</string>
	<key>VaO</key>
	<string>V_aO_.glif</string>
	<key>VaOO</key>
	<string>V_aO_O_.glif</string>
	<key>VaOttu</key>
	<string>V_aO_ttu.glif</string>
	<key>VaU</key>
	<string>V_aU_.glif</string>
	<key>VaUU</key>
	<string>V_aU_U_.glif</string>
	<key>Visarga</key>
	<string>V_isarga.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Ya</key>
	<string>Y_a.glif</string>
	<key>Ya.base</key>
	<string>Y_a.base.glif</string>
	<key>YaAA</key>
	<string>Y_aA_A_.glif</string>
	<key>YaAU</key>
	<string>Y_aA_U_.glif</string>
	<key>YaE</key>
	<string>Y_aE_.glif</string>
	<key>YaEE</key>
	<string>Y_aE_E_.glif</string>
	<key>YaHalanth</key>
	<string>Y_aH_alanth.glif</string>
	<key>YaI</key>
	<string>Y_aI_.glif</string>
	<key>YaII</key>
	<string>Y_aI_I_.glif</string>
	<key>YaO</key>
	<string>Y_aO_.glif</string>
	<key>YaOO</key>
	<string>Y_aO_O_.glif</string>
	<key>YaOttu</key>
	<string>Y_aO_ttu.glif</string>
	<key>YaU</key>
	<string>Y_aU_.glif</string>
	<key>YaUU</key>
	<string>Y_aU_U_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>afii301</key>
	<string>afii301.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>arrowleft</key>
	<string>arrowleft.glif</string>
	<key>arrowright</key>
	<string>arrowright.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>ch744</key>
	<string>ch744.glif</string>
	<key>ch745</key>
	<string>ch745.glif</string>
	<key>ch746</key>
	<string>ch746.glif</string>
	<key>ch747</key>
	<string>ch747.glif</string>
	<key>ch748</key>
	<string>ch748.glif</string>
	<key>ch749</key>
	<string>ch749.glif</string>
	<key>ch750</key>
	<string>ch750.glif</string>
	<key>ch751</key>
	<string>ch751.glif</string>
	<key>ch752</key>
	<string>ch752.glif</string>
	<key>ch753</key>
	<string>ch753.glif</string>
	<key>ch754</key>
	<string>ch754.glif</string>
	<key>ch755</key>
	<string>ch755.glif</string>
	<key>ch756</key>
	<string>ch756.glif</string>
	<key>ch757</key>
	<string>ch757.glif</string>
	<key>ch758</key>
	<string>ch758.glif</string>
	<key>ch759</key>
	<string>ch759.glif</string>
	<key>ch763</key>
	<string>ch763.glif</string>
	<key>ch764</key>
	<string>ch764.glif</string>
	<key>ch765</key>
	<string>ch765.glif</string>
	<key>ch766</key>
	<string>ch766.glif</string>
	<key>ch767</key>
	<string>ch767.glif</string>
	<key>ch768</key>
	<string>ch768.glif</string>
	<key>ch769</key>
	<string>ch769.glif</string>
	<key>ch770</key>
	<string>ch770.glif</string>
	<key>ch771</key>
	<string>ch771.glif</string>
	<key>ch772</key>
	<string>ch772.glif</string>
	<key>ch773</key>
	<string>ch773.glif</string>
	<key>ch774</key>
	<string>ch774.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>graveaccent</key>
	<string>graveaccent.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>leftcurly</key>
	<string>leftcurly.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>mark.inferior</key>
	<string>mark.inferior.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>rightcurly</key>
	<string>rightcurly.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>tvam</key>
	<string>tvam.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni0950</key>
	<string>uni0950.glif</string>
	<key>uni0C05</key>
	<string>uni0C_05.glif</string>
	<key>uni0C07</key>
	<string>uni0C_07.glif</string>
	<key>uni0C09</key>
	<string>uni0C_09.glif</string>
	<key>uni0C0E</key>
	<string>uni0C_0E_.glif</string>
	<key>uni0C12</key>
	<string>uni0C_12.glif</string>
	<key>uni0C19</key>
	<string>uni0C_19.glif</string>
	<key>uni0C23</key>
	<string>uni0C_23.glif</string>
	<key>uni0C34</key>
	<string>uni0C_34.glif</string>
	<key>uni0C46</key>
	<string>uni0C_46.glif</string>
	<key>uni0C55</key>
	<string>uni0C_55.glif</string>
	<key>uni0C62</key>
	<string>uni0C_62.glif</string>
	<key>uni0C63</key>
	<string>uni0C_63.glif</string>
	<key>uni0C78</key>
	<string>uni0C_78.glif</string>
	<key>uni0C79</key>
	<string>uni0C_79.glif</string>
	<key>uni0C7A</key>
	<string>uni0C_7A_.glif</string>
	<key>uni0C7B</key>
	<string>uni0C_7B_.glif</string>
	<key>uni0C7C</key>
	<string>uni0C_7C_.glif</string>
	<key>uni0C7D</key>
	<string>uni0C_7D_.glif</string>
	<key>uni0C7E</key>
	<string>uni0C_7E_.glif</string>
	<key>uni0C7F</key>
	<string>uni0C_7F_.glif</string>
	<key>uni2018</key>
	<string>uni2018.glif</string>
	<key>uni2019</key>
	<string>uni2019.glif</string>
	<key>uni201C</key>
	<string>uni201C_.glif</string>
	<key>uni201D</key>
	<string>uni201D_.glif</string>
	<key>uni2022</key>
	<string>uni2022.glif</string>
	<key>uni20B9</key>
	<string>uni20B_9.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
